
[Unit]
Description=Bluetooth Initialization
After=bluetooth.target

[Service]
ExecStart=/usr/local/bin/ble-boot.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
