[Unit]
Description=Demeter sensors server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bstaley/
ExecStart=/usr/local/bin/demeter-run.sh
Restart=on-failure
User=bstaley

[Install]
WantedBy=multi-user.target
